@{
    ViewBag.Title = "Confirmación de reinicio de contraseña";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta charset="UTF-8">
    <title>Recuperación de contraseña</title>

    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="~/Content/google_fonts/font.css" rel="stylesheet" type="text/css">
    <link href="~/Content/material_icons/material_icons.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Scripts/plugins/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Scripts/plugins/animate-css/animate.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/Adminbsb/style.css" rel="stylesheet" />
    <style>
        .login-page {
            max-width: 380px;
        }

        .form-horizontal .form-group {
            margin-left: 0;
        }

        .form-horizontal h4 {
            text-align: center;
        }
    </style>
</head>
<body class="login-page">

    <div class="login-box">
        <div class="logo">
            <a style="align-content:center;"><b>¡Transacción realizada!</b></a>
            <hr />
            <small>@ViewBag.Title.</small>
        </div>
        <div class="card">
            <div class="body">
                <div class="form-group">
                    <p>Tu contraseña ha sido reiniciada. <br /> Por favor @Html.ActionLink("presione click aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>

