
@{
    ViewBag.Title = "IndexMec";
}

<style>
    .panel {
        width: 70%;
        margin: 0 auto;
    }

    .panel-heading {
        text-align: center;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading"><h2><b>DIGITOOLS - UNILEVER</b></h2></div>
    <div class="panel-body">
        Seleccione una opción en el menú del lado izquierdo.
    </div>
</div>